html {
    height: 100%;
}

nav {
    grid-area: header;
    background-color: red;

    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
}

aside {
    grid-area: side;
    background-color: green;
}

section {
    grid-area: main;
    background-color: blue;
}

footer {
    grid-area: footer;
    background-color: purple;
}

body {
    min-height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10vh auto 10vh;
    grid-template-areas: 
        "header header"
        "side main"
        "footer footer";
}